<!-- 
* Author: Philip Grogan	
* Assignment: WE4.1 To-do List Mobile Web Application, Digital Skills Academy	
* Date:	2016/09/07	
* Ref: http://docs.phonegap.com/phonegap-build/configuring/
-->

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://*/*"
    xmlns   = "http://phonegap.com/ns/1.0"
    id          = ""
    versionCode = "10"
    version     = "1.0.0" >

<name>Phil's To-do List</name>

<description>
To-do List App for Mobile and Web Application Module WebElevate 4.1
</description>

<author email="philip.grogan@webelevate.ie">
Philip Grogan
</author>

<content src="index.html"></content>

<plugin name="cordova-plugin-whitelist">

<allow-intent href="http://*/*" />

<access origin="*" />

<splash src="splash.png" />

<icon src="icon.png"/>

<platform name="android" />

</widget>

