<!-- 
* Author: Philip Grogan	
* Assignment: WE4.1 To-do List Mobile Web Application, Digital Skills Academy	
* Date:	2016/09/07	
* Ref: http://docs.phonegap.com/phonegap-build/configuring/
-->

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = ""
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = ""
    versionCode = "10"
    version     = "1.0.0" >

<name>Phil's To-do List</name>

<description>
To-do List App for Mobile and Web Application Module WebElevate 4.1
</description>

<author href="" email="philip.grogan@webelevate.ie">
Philip Grogan
</author>

<content src="index.html"></content>

<allow-intent href="" />

<access origin="http://phonegap.com" subdomains="true" />

<splash src="splash.png" />

<icon src="icon.png" platform="ios" />
<icon src="icon.png" platform="android" qualifier="ldpi" />
<icon src="icon.png" platform="winphone" />

<platform name="ios" />
<platform name="android" />
<platform name="winphone" />

<preference name="phonegap-version" value="cli-6.0.0" />
<preference name="orientation" value="landscape" />
<preference name="fullscreen" value="true" />

</widget>

